.logo{
  background-image: url("../public/img/logo/MMR-logo.jpg") !important;
  background-size: cover;
  height: 70px;
  width: 70px;
  background-position: center;
  border-radius: 50%;
}

.tp-slider-5-bg{
  background-image: url("../public/img/slider//slider-5-bg-1.png");
}

.tp-counter-bg{
  background-image: url("../public/img/counter/counter-bg.jpg");
}

.tp-chose-us-5-area{
  background-image: url("../public/img/chose-us/chose-us-5-bg.jpg");
}


.tp-value-wrapper{
  height: 450px;
 
}

.tp-portfolio-inner-subscribe-area{
  background-image: url("../public/img/portfolio/port-subs-inner-bg.jpg");
}

.tp-portfolio-breadcrumb-area{
  background-image: url("../public/img/service/service-breadcrumb-bg.jpg");
}

.service-containers{
  height: 350px;
}