*{
  scroll-behavior: smooth;
}




.logo{
  background-image: url("../public/img/logo/MMR-logo.jpg") !important;
  background-size: cover;
  height: 70px;
  width: 70px;
  background-position: center;
  border-radius: 50%;
}

.tp-slider-5-bg{
  background-image: url("../public/img/slider//slider-5-bg-1.png");
}

.tp-counter-bg{
  background-image: url("../public/img/counter/counter-bg.jpg");
}

.tp-chose-us-5-area{
  background-image: url("../public/img/chose-us/chose-us-5-bg.jpg");
}


.tp-value-wrapper{
  height: 450px;
 
}

/* Portfolio */

.tp-portfolio-inner-subscribe-area{
  background-image: url("../public/img/portfolio/port-subs-inner-bg.jpg");
}

.tp-portfolio-breadcrumb-area{
  background-image: url("../public/img/service/service-breadcrumb-bg.jpg");
}

.service-containers{
  height: 350px;
}

.tp-project-3-thumb img{
  height: 250px;
  width: 352px;
  aspect-ratio: 3 / 2;
}
.tp-project-3-thumb{
  height: 300px;
  width: 300px;  
}

.tp-project-5-thumb img{
  height: 250px;
  width: 352px;
  
  aspect-ratio: 3 / 2;
}

/* Testimonials */

    .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tp-testimonial-list{
  height: 352px;
  width: 140px;
}

.tp-testimonial-tab-btn img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover !important;
  object-position: center !important;
}

@media (max-width: 567px) {
  .tp-testimonial-list {
    height: 140px;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    padding-top: 10px;
  }
}

/* Loader */

.loader-brand-icon img{
  height: 99px;
  width: 99px;
  border-radius: 50%;
}

/* Services */

.tp-service-2:hover{
  transition: 0.8s;
  transform: scale(1.06);
}


.tp-service-list:hover{
  display: block;

}


/* Footer */




/* About */

.tp-brand-5-thumb img{
  aspect-ratio: 4 /2;
  width: 70%;

}

